@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: Robotoslab-Light;
    src: url(../font/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: Robotoslab-Regular;
    src: url(../font/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: Robotoslab-Bold;
    src: url(../font/RobotoSlab-Bold.ttf);
}

/* @font-face {
    font-family: Robotoslab-Regular;
    src: url(../font/RobotoSlab-Regular.ttf);
} */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header, nav ul, #hero {
    display: flex;
}

header {
    height: 90px;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: none;
}

nav {
    padding-right: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding-right: 22px;
    font-size: 14px;
    font-family: Robotoslab-Bold;
    font-weight: 200;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li a {
    color: #666;
}

#logo {
    height: 63px;
    padding-left: 30px;
}

.submenu {
    position: relative;
    padding-right: 20px;
}

.submenu::after {
    /* display: inline-block;
    text-rendering: auto; */
    -webkit-font-smoothing: antialiased;
    /* font: var(--fa-font-solid); */
    position: absolute;
    right: 0;
    top: 4px;
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f078";
    font-size: 10px;
}

/* .search {
    float: right;
} */

.search::before {
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    vertical-align: middle;
    color: #444;
    font-size: 18px;
    font-weight: 600;
    content: "\f002";
    transform: rotateY(180deg);
}

#hero {
    height: 915.5px;
    margin-bottom: 27px;
}

#hero * {
    /* height: calc(100vh - 90px); */
    color: #fff;
}

#hero section {
    width: 50%;
}

#pictures img {
    width: 100%;
    /* height: 100%; */
}

#inscription {
    background-color: #336699;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription strong, #inscription .slogan {
    font-family: RobotoSlab-Regular;
}

#inscription .slogan {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

#inscription .container {
    font-family: Roboto-Regular;
    font-size: 25px;
    width: 60%;
}

#inscription .container p {
    padding-bottom: 25px;

}

#inscription .container.button_container {
    display: flex;
    justify-content: center;
}

#inscription .container a {
    /* display: inline-block; */
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ff2063;
    padding: 0.6em 1.2em;
    border-radius: 100px;
    letter-spacing: 1px;
    font-size: 22px;
    /* border: 2px solid;
    border-width: 2px;
    border-color: #ff2063; */
    /* margin: 0 auto; */
}

.fine_print {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-family: Roboto-Thin;
}