@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: Robotoslab-Light;
    src: url(../font/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: Robotoslab-Regular;
    src: url(../font/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: Robotoslab-Bold;
    src: url(../font/RobotoSlab-Bold.ttf);
}

/* @font-face {
    font-family: Robotoslab-Regular;
    src: url(../font/RobotoSlab-Regular.ttf);
} */

/* GENERIC */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular;
}

body {
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 10px;
    line-height: 1em;
}

h2, h3, strong {
    font-family: RobotoSlab-Regular;
}

a {
    text-decoration: none;
}

/* HEADER */

header, nav ul, #hero {
    display: flex;
}

header {
    height: 90px;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: none;
}

nav {
    padding-right: 30px;
    line-height: 1em;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding-right: 22px;
    font-size: 14px;
    font-family: Robotoslab-Bold;
    font-weight: 200;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li a {
    color: #666;
    font-family: Robotoslab-Regular;
    font-weight: 600;
}

#logo {
    height: 63px;
    padding-left: 30px;
}

.submenu {
    position: relative;
    padding-right: 20px;
}

.submenu::after {
    /* display: inline-block;
    text-rendering: auto; */
    -webkit-font-smoothing: antialiased;
    /* font: var(--fa-font-solid); */
    position: absolute;
    right: 0;
    top: 4px;
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f078";
    font-size: 10px;
}

/* .search {
    float: right;
} */

.search::before {
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    vertical-align: middle;
    color: #444;
    font-size: 18px;
    font-weight: 600;
    content: "\f002";
    transform: rotateY(180deg);
}

/* HERO */

#hero {
    height: 915.5px;
    margin-bottom: 27px;
}

#hero * {
    /* height: calc(100vh - 90px); */
    color: #fff;
}

#hero section {
    width: 50%;
}

#pictures img {
    width: 100%;
    /* height: 100%; */
}

#inscription {
    background-color: #336699;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription p {
    line-height: 1.2em;
}

#inscription strong, #inscription .slogan {
    font-family: RobotoSlab-Regular;
}

#inscription .slogan {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

#inscription .container {
    font-family: Roboto-Regular;
    font-size: 25px;
    width: 60%;
}

p {
    padding-bottom: 1em;
}

.button_container {
    display: flex;
    justify-content: center;
}

.button_container a {
    text-transform: uppercase;
    font-family: Roboto-Regular;
    border-radius: 100px;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
    /* border: 2px solid; */
    /* border-width: 10px; */
}

.button_container a:hover {
    letter-spacing: 2px;
}

#inscription .button_container a {
    padding: 0.6em 1.2em;
    /* display: inline-block; */
    font-weight: 600;
    /* border-color: #ff2063; */
    background-color: #ff2063;
    font-size: 22px;
    /* border: 2px solid;
    border-width: 2px;
    border-color: #ff2063; */
    /* margin: 0 auto; */
}

.fine_print {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-family: Roboto-Thin;
}

/* FORMATIONS LIST */

h2 {
    font-family: RobotoSlab-Regular;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 54px;
    /* background-color: greenyellow; */
}

#formations, #to_recruiters {
    color: #336699;
}


.fullwidth_wrapper {
    width: 89%;
    max-width: 89%;
    /* padding-bottom: 27px; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

#formations .articles_wrapper {
    padding-top: 27px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

#formations .article_box {
    /* background-color: lime; */
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 60px 0px rgba(71,74,182,0.12);
    /* width: 100%; */
}

#formations .article_box article {
    /* height: 700px; */
    font-size: 19px;
    padding: 30px 40px;
}

#formations .articles_wrapper article h3 {
    font-size: 22px;
}


.img_box {
    margin-bottom: 30px;
}

.img_box img {
    width: 100px;
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#formations .button_container {
    margin-top: 9.27%;
    margin-bottom: 30px;
    position: relative;
}

#formations .button_container a {
    padding: 1em 2em;
    background-color: #ffca4b;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

#formations .button_container a::after {
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    content: "\f0da";
    margin-left: 0.3em;
    font-size: 0.7em;
    position: absolute;
}